Curso 2/Acceso a datos/Extras/ejemplo-cuenta-clientes/src/Empleados1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="empleado">
    <xs:sequence>
      <xs:element name="dept" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="nombre" type="xs:string" minOccurs="0"/>
      <xs:element name="sueldo" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

